body{
    padding: 16px 16px 16px 16px;
    z-index: 0;
}

#UserNotes{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}

.NoteWrap{
    position: relative;
    display: inline-block;
    margin: 32px 32px 32px 32px;
    padding: 8px 8px 8px 8px;
    -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.16);
    height: 256px;
    width:256px;
}

.NoteTagColor{
    position: relative;
    display: inline-block;
    width:8px;
    height: 160px;
    background-color: black;;
}

.Note{
    position: relative;
    display: inline-block;
    height: 256px;
}

.NoteTitle{
    overflow: hidden;
    text-overflow: ellipsis;
    width:200px;
    height: 32px;
    font-size: 24px;
}

.NoteText{
    overflow: hidden;
    text-overflow: ellipsis;
    width:200px;
    height: 128px;
    font-size: 16px;
}

#ChoseHowToAddNotesWrap{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    z-index: 1;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    
}
#ChoseHowToAddNotes{
    width:556px;
    height: 356px;
    background-color: white;
    display: block;
    position: relative;
}

#ChoseHowToAddNotesButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    width:556px;
    height: 356px;

}

.ChoseHowToAddButton{
    position: relative;
    display: inline-block;
    text-align: center;
    width:128px;
    height:128px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 48px;
    margin-right: 48px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.ChoseHowToAddButton:hover{
    cursor: pointer;
}
.ChoseHowToAddButton span{
    font-size: 64px;
}
.ChoseHowToAddButton div{
    margin-top: 16px;
}

#CloseChcoseHowToAddMenu{
    position: absolute;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
}