body{
    -webkit-box-shadow: 16px 16px 16px 16px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 16px 16px 16px 16px rgba(0, 0, 0, 0.16);
    box-shadow: 16px 16px 16px 16px rgba(0, 0, 0, 0.16);
    padding: 16px 16px 16px 16px;
}
.no-select {
  -webkit-user-select: none; /* Safari, Chrome, Opera, Edge */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer 10+ */
  user-select: none;         /* Стандартное свойство */
}
#RedactorWrap{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
}
#RedactorExitButton{
    width: 4px;
    height: 4px;
    margin:12px 8px 8px 8px;
}
#OpenRedactorButton{
    position: fixed;
    width: 48px;
    height: 48px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    right: 0;
    bottom: 0;
    margin-right: 64px;
    margin-bottom: 64px;
}
#OpenRedactorButton:hover{
    cursor: pointer;
}
#OpenRedactorButtonText{
    font-size: 32px;
}
#RedactorExitButton:hover{
    cursor:pointer;
}
#Redactor{
    margin-top:16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 32px;
    padding-bottom: 32px;
    width:800px;
}
#TextRedactor{
    z-index: 2;
}
#NoteRedactor{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}
.Menu{
    border: 1px solid black;
    padding: 2px 2px 2px 2px;
}

.MenuButton:hover{
    cursor: pointer;
}

.close {
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: black;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    right:0;
}

.close:hover{
    cursor:pointer;
}

#ContextMenu{
    position: absolute;
    z-index: 1;
    display: none;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    padding: 4px 4px 4px 4px;
}

#ContextMenu ul{
    padding-left:32px;
}

#FontSizePickMenu{
    list-style-type: none;
    border: 1px solid black;
    max-height: 120px;
    overflow-y: scroll
}


#FontSizePickMenu li {
    height: 30px;
    line-height: 30px;
}
#FontSizePickMenu li:hover{
    cursor:pointer;
}

#SaveMenuWrap{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    display: none;
    justify-content: center;
    align-items: center;
}

#SaveMenu{
    position: absolute;
    z-index: 1;
    display: none;
    width:300px;
    height: 200px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 4px 4px 4px 4px;
}

#SaveButton{
    display: inline-block;
    padding: 1px 1px 1px 1px;
}

#SaveButton button{
    background-color: #fff;
    border: 1px solid black;
}

#SaveButton button:hover{
    cursor: pointer;
}

#NoteTitle{
    width: 600px;
    height:16px;
    border: 1px solid black;
}

#Note{
    width: 600px;
    height: 400px;
    border: 1px solid black;
    overflow-y: auto;
}
