body{
    margin: 64px 64px 64px 64px;
}
header{
    -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.16);
}
#NavigationMenu{
    width:256px;
    display: inline-block;
}
.MenuDiv{
    display: inline-block;
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
.MenuDiv:hover{
    cursor: pointer;
}
#Title{
    font-size:32px;
    display: inline-block;
    width:132px;
}

#TopMenu{
    padding: 8px 8px 8px 8px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.no-select {
  -webkit-user-select: none; /* Safari, Chrome, Opera, Edge */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer 10+ */
  user-select: none;         /* Стандартное свойство */
}

.Menu{
    border: 1px solid black;
    padding: 2px 2px 2px 2px;
}

.MenuButton:hover{
    cursor: pointer;
}

.close {
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: black;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    right:0;
}

.close:hover{
    cursor:pointer;
}